html {
    font-size: 10px;
    background: url('./3482241.jpg') bottom center;
    background-size: cover;
}


@keyframes parpadeo {
    0% { 
        color: red; 
        text-shadow: 0 0 5px red; 
        opacity: 1;
    }
    50% { 
        color: goldenrod; 
        text-shadow: 0 0 20px goldenrod; 
        opacity: 0.8;
    }
    100% { 
        color: red; 
        text-shadow: 0 0 5px red; 
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    color: black;
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.text {
    width: fit-content; 
    
    color: red; 
    font-size: 3rem; 
    font-family: sans-serif;
    text-align: center; 
    background: rgba(0,0,0,0.4);
    text-shadow: 2px 2px 4px black;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem; 
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: red;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.key-press {
    transform: scale(1.1);
    border-color: goldenrod;
    box-shadow: 0 0 1rem goldenrod;
}

kbd {
    display: block;
    font-size: 4rem;
}

.label {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: red;
}

.display {
    animation: parpadeo 3s infinite ease-in-out;
    width: fit-content;
    font-size: 100px;
    color: red;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    border-radius: .5rem;
    padding: 20px 40px;
    text-align: center;
}